.newslist-container {
  grid-area: sidebar;
}

.newslist-container ul {
  padding-top: 100px;
  list-style: none;
  border-right: 3px solid coral;
}

.newslist-container ul li {
  padding: 6px;
}

.newslist-container ul li:hover {
  color: coral;
  cursor: pointer;
}
